html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

.universe {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.universe > * {
    width: 100%;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: .75rem;
}

.text-medium {
    font-size: 2rem;
}

.text-big {
    font-size: 3rem;
}

[class*="horizontal"] {
    display: flex;
    align-items: center;
}

.vertical-stack > * + * {
    margin-top: 1rem;
}

.horizontal-stack > * + * {
    margin-left: .5rem;
}

.control input {
    width: 4rem;
}

.horizontal-center-elements {
    justify-content: center;
}
