html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

.universe {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;

}

.universe > section {
    width: 100%;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 3;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: .75rem;
}

.text-medium {
    font-size: 2rem;
}

.text-big {
    font-size: 3rem;
}

[class*="horizontal"] {
    display: flex;
    align-items: center;
}

.vertical-stack > * + * {
    margin-top: 1rem;
}

.horizontal-stack > * + * {
    margin-left: .5rem;
}

.control input {
    width: 4rem;
}

.horizontal-center-elements {
    justify-content: center;
}

details summary {
    cursor: pointer;
}

details p {
    margin-top: 1em;
}

.timer {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
}

.progress {
    --step-total: 1;
    --step-current: 1;
    --step-duration: 1s;
    --step-width: calc(100% / var(--step-total));
    --step-completed-width: calc(var(--step-width) * (var(--step-current) - 1));
    --progress-color: #dde6f0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.progress.warmup {
    --progress-color: #ff9071;
}

.progress.standing {
    --progress-color: #ffdc7c;
}

.progress.floor {
    --progress-color: #6ba292;
}

.progress__past,
.progress__now,
.progress__finished {
    position: absolute;
    top: 0;
    bottom: 0;
}

.progress__past {
    left: 0;
    width: var(--step-completed-width);
    background: var(--progress-color);
}

.progress__now,
.progress__finished {
    left: var(--step-completed-width);
    width: var(--step-width);
    background: var(--progress-color);
}

.progress__now {
    animation-name: progress;
    animation-duration: var(--step-duration);
    animation-iteration-count: infinite;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: var(--step-width);
    }
}

.stages {
    display: flex;
    margin-top: .5rem
}

.stages .warmup {
    width: 35.29%; /* 18 of 51 */
}

.stages .standing {
    width: 43.13%; /* 22 of 51 */
}

.stages .floor {
    width: 21.56%; /* 11 of 51 */
}
