html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body {
    font-family: 'Inter', sans-serif;
}

.universe {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;

}

.universe > * {
    width: 100%;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;

}

.text-center {
    text-align: center;
}

.text-small {
    font-size: .75rem;
}

.text-medium {
    font-size: 2rem;
}

.text-big {
    font-size: 3rem;
}

[class*="horizontal"] {
    display: flex;
    align-items: center;
}

.vertical-stack > * + * {
    margin-top: 1rem;
}

.horizontal-stack > * + * {
    margin-left: .5rem;
}

.control input {
    width: 4rem;
}

.horizontal-center-elements {
    justify-content: center;
}

details summary {
    cursor: pointer;
}

details p {
    margin-top: 1em;
}

#timer {

}

#time {
    height: 30px;
}

#linear {
    height: 30px;

    background-color: #dde6f0;
    border-radius: 5%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    z-index: 1;
}

#myBar {
    z-index: 2;
    width: 0%;
    height: 30px;
    border-radius: 5%;
    background-color: red;
}

.label {
    width: 33%;
    height: 30px;
    float: left;
    padding: 5px;
}

#labels {

    height: 30px;
    margin-top: 0px;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}